/* assets/css/main.css */
@font-face {
  font-family: 'SofiaSansCondensed';
  src: url('~/assets/fonts/SofiaSansCondensed.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}


html, body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'SofiaSansCondensed', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.page-title {
  text-transform: uppercase;
  font-weight: 700;  /* 'Bold' */
  font-size: 64px;
}

.donation-badge {
  text-transform: uppercase;
  font-size: 60px;
  color: black;
}

h1 {
  font-weight: bold;
  /* font-size: 32px; */
  font-size: 1.6rem;
}

h2 {
  font-weight: bold;
  font-size: 25px;
}

.ac-callout {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;

  margin-bottom: 16px;
  margin-top: 16px;
}

p {
  font-size: 18px;
  font-weight: 400;  /* 'Regular' */
  padding: 0px;
  margin: 0px;
}



:root {
  --black: #000000;
  --white: #ffffff; 
  --gray: #666666;
  --lightgray: #B6B8BA;
  --blue: #22A9AB; 
  --lightblue: #A5DAEC; 
  --orange: #F29F28; 
}

.desktop-only,
.desktop-only-flex {
  display: none !important;
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }

  .container {
    margin: 0px;
  }
}

@media (min-width: 1024px) {
  .desktop-only {
    display: block !important; 
  }
  
  .desktop-only-flex {
    display: flex !important;
  }
}